@model Woda_test.Models.swosta_sewa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>swosta_sewa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.khop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mahila_posand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mahila_posand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upachar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upachar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.table_house_senior_details.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.table_house_senior_details.Education)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
