@model IEnumerable<Woda_test.Models.table_demographic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="pull-right">
    @using (Html.BeginForm("Index", "demog", FormMethod.Get))
    {
        @Html.TextBox("q", "", new { placeholder = "Search..." });

        <button type="submit" class="btn btn-primary">GO</button>

    }
</div>
<br />
<table class="table">
    <tr>
        <th>
            परिवारको संख्या-जम्मा
        </th>
        <th>
            पुरुष
        </th>
        <th>
            महिला
        </th>
        <th>
            <a href="~/demog?order=caste">
                Caste
            </a>
        </th>
<th>
    <a href="~/demog?order=religion">
        Religion
    </a>
            
        </th>
        <th>
            घर नं.  </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Total_person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Male_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Female_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.table_house_senior_details.Home_no)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.D_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.D_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.D_id })
        </td>
    </tr>
}

</table>
