@model IEnumerable<Woda_test.Models.table_house_senior_details>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "SEE Pass",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "+2 Pass",
        Value = "2",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Bachelor Pass",
        Value = "3"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Master Pass",
        Value = "4"
    });
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="pull-right">
    @using (Html.BeginForm("Index", "seniordetails", FormMethod.Get))
    {
        @Html.TextBox("q", "", new { placeholder = "Search..." });

        <button type="submit" class="btn btn-primary">GO</button>

    }
</div>
<br />

<table class="table">
    <tr>
        <th>
            <a href="~/seniordetails?order=home">
                घर नं.
            </a>
           
        </th>
        <th>
            <a href="~/seniordetails?order=name">
                नाम
                </a>
</th>
        <th>
            शिक्षा
        </th>
        <th>
            पेशा
        </th>
        <th>
            सम्पर्क नं.
        </th>
        <th>
            जन्म मिति
        </th>
        <th>
            जन्म स्थल
        </th>
        <th>
            नागरिता नं.
        </th>
        <th>
            जारी जिल्ला
        </th>
        <th>
            जारी मिति
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Home_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenShip_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenshipIssue_district)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.citizenissue_date)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.senior_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.senior_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.senior_id })
        </td>
        
     
    </tr>
}
  
    

</table>
