@model Woda_test.Models.table_home_facility

@{
    ViewBag.Title = "Create";
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "इट्टा ",
        Value = "इट्टा "
    });
    listItems.Add(new SelectListItem
    {
        Text = "बाँस/लाठि ",
        Value = "बाँस/लाठि ",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "ढुंगा/ माटो ",
        Value = "ढुंगा/ माटो "
    });
    listItems.Add(new SelectListItem
    {
        Text = "फुस/ बॉस",
        Value = "फुस/ बॉस "
    });
    listItems.Add(new SelectListItem
    {
        Text = "फ्याब्रीक",
        Value = "फ्याब्रीक "
    });
    listItems.Add(new SelectListItem
    {
        Text = "अन्य ....",
        Value = "अन्य ...."
    });




    List<SelectListItem> roofItems = new List<SelectListItem>();
    roofItems.Add(new SelectListItem
    {
        Text = "ढलान  ",
        Value = "ढलान  "
    });
    roofItems.Add(new SelectListItem
    {
        Text = "जस्ता पाता  ",
        Value = "जस्ता पाता ",
        Selected = true
    });
    roofItems.Add(new SelectListItem
    {
        Text = "पराल /खर ",
        Value = "पराल /खर  "
    });
    roofItems.Add(new SelectListItem
    {
        Text = "टायल",
        Value = "टायल "
    });
    roofItems.Add(new SelectListItem
    {
        Text = "प्लास्टिक",
        Value = "प्लास्टिक "
    });
    roofItems.Add(new SelectListItem
    {
        Text = "अन्य ....",
        Value = "अन्य ...."
    });


}

<h2>Create</h2>
<div id="contentframe" style="position:absolute; top: 155px; left: 680px;">
    <iframe src="~/ViewerJS/pdfs/Riwaj-Resume.pdf" width='600' height='450' allowfullscreen webkitallowfullscreen></iframe>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>table_home_facility</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.House_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.House_type, listItems, "-- Select Housetype --", new { @class = "form-control" })


               @* @Html.EditorFor(model => model.House_type, new { htmlAttributes = new { @class = "form-control" } })
            *@
                   @Html.ValidationMessageFor(model => model.House_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.House_area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.House_area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.House_area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.House_total_area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.House_total_area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.House_total_area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.roof_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.roof_type, roofItems, "-- Select Rooftype --", new { @class = "form-control" })

@*
    @Html.EditorFor(model => model.roof_type, new { htmlAttributes = new { @class = "form-control" } })
*@
                  @Html.ValidationMessageFor(model => model.roof_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.on_rent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.on_rent)
                    @Html.ValidationMessageFor(model => model.on_rent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cooking_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cooking_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cooking_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.entertainment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.entertainment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entertainment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.annual_income, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.annual_income, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.annual_income, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.drinking_water_TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.drinking_water_TYPE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.drinking_water_TYPE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.irrigation_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.irrigation_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.irrigation_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ownership_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ownership_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ownership_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.storey, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.storey, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.storey, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.electricity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.electricity)
                    @Html.ValidationMessageFor(model => model.electricity, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.senior_id, "HomeNum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("senior_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.senior_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="text-danger">
            @ViewBag.error
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
