@model Woda_test.Models.table_home_facility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>table_home_facility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.House_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House_area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House_total_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House_total_area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roof_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roof_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.on_rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.on_rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cooking_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cooking_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entertainment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entertainment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annual_income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annual_income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drinking_water_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drinking_water_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.irrigation_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irrigation_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownership_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownership_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.electricity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.electricity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.table_house_senior_details.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.table_house_senior_details.Education)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.F_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
