@model IEnumerable<Woda_test.Models.pariwar_bekti_bibarand_many>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birth_place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age_group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pariwar_bekti_bibarand.PB_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birth_place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age_group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pariwar_bekti_bibarand.PB_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PBM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PBM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PBM_ID })
        </td>
    </tr>
}

</table>
